body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background: #404040;
  margin: 0;
}
.navbar {
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #070707;
  height: 35px;
  width: 85%;
  border-radius: 14px 14px 0px 0px;
  border-bottom: 2px solid #154360;
  position: relative;
  font-size: 25px;
}
.fa-home,
.fa-cogs,
.fa-opencart,
.fa-wrench,
.fa-info,
.fa-star,
.fa-list,
.fa-clipboard {
  color: #fff;
  float: left;
  margin: 5px 20px;
}
.fa-home:hover,
.fa-cogs:hover,
.fa-opencart:hover,
.fa-wrench:hover,
.fa-info:hover,
.fa-star:hover,
.fa-list:hover,
.fa-clipboard:hover {
  color: #ff0000;
  transition: 0.5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  animation: bounce 1s infinite;
}
.fa-home:hover:after {
  color: #ff00ff;
  transition: 0.5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}


  
